<%= @greeting %>
<br>
<br>
<p>
  Here's some of our latest recipes!  Bon appetit!
</p>

<ul>
  <% for recipe in @recipes %>
      <li>
        <h4><%= link_to recipe.name, recipe_url(recipe) %></h4>
        <a href="<%= user_url recipe.user %>">
          <%= gravatar_for recipe.user, size: 80 %>
        </a>
        <h5><%= recipe.user.name %></h5>
        <h5>Posted <%= time_ago_in_words(recipe.created_at) %> ago.</h5>
        <br>
        <%= recipe.method.html_safe %>
      </li>
  <% end %>
</ul>